@import "../../../../../master.variables";

  .hamburger {
    display: none;
    margin-left:20px;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $logo-blue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  } 
  
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  
  .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 15px;
  }
  
  .hamburger span:nth-child(4) {
    top: 30px;
  }
  
  .hamburger.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
  }
    
  .hamburger.open span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%;
  }

  // hide all the menu links, only logo and burger left
@media screen and (max-width: $menu-hamburger-width) {
    .hamburger { display: block;}
}