<div class="hamburger" [ngClass]="{open: hamburgerOpened}" (click)="toggleMenu()">
  <span [@cross-hb-span1]="animationTrigger"></span>
  <span [@cross-hb-span2]="animationTrigger"></span>
  <span [@cross-hb-span3]="animationTrigger"></span>
  <span [@cross-hb-span4]="animationTrigger"></span>
</div>