<ul class="nav" [ngClass]="{hidden : !menuOpened}"[@slide-menu]="animationTrigger">
  <li id="home">
    <a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">HOME</a>
  </li>
  <li id="about">
    <a routerLink="about" routerLinkActive="selected" (click)="toggleMenu()">ABOUT US</a>
  </li>
  <li id="whychinta">
    <a routerLink="whychinta" routerLinkActive="selected" (click)="toggleMenu()">WHY CHOOSE US?</a>
  </li>
  <li id="faq">
      <a routerLink="faq" routerLinkActive="selected" (click)="toggleMenu()">FAQ</a>
  </li>
  <li id="guide">
    <a routerLink="guide" routerLinkActive="selected" (click)="toggleMenu()">CHINTAGUIDE</a>
  </li>
  <li id="terms">
    <a routerLink="terms" routerLinkActive="selected" (click)="toggleMenu()">TERMS OF USE</a>
  </li>
  <li id="contact">
    <a routerLink="contact" routerLinkActive="selected" (click)="toggleMenu()">CONTACT US</a>
  </li>
</ul>