@import "../../../../../master.variables";

.nav{
    visibility: visible;
    opacity: 1;
    max-height:420px;
    margin-top: 60px;
    overflow: hidden;
    list-style-type: none;
    position: fixed;
    float: right;
    background-color: white;
    width: 100%;
    z-index: 99;
        li {
            display: inline-block;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            margin-right: 30px;
            width: 100%;
            a {
                display: inline-block;
                width: 100%;
                color: $dark-font-color;
                text-align: center;
                text-decoration: none;  
                font-family: $top-menu-font;
                height: 60px!important;
                line-height: 60px;
            }
        }
        li:hover{
            background-color: $highlight-color;
        }
}

.hidden {
    visibility: hidden;
    max-height:0px;
    opacity: 0;
}
