@import "../../../../master.variables";

.selected {
    background-color: $highlight-color;
    border-bottom: 2px solid $accent-color;
}
ul {
    list-style-type: none;
    float: right;
    li {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        font-size: $top-menu-font-size;
        margin-right: 30px;
        a {
            display: inline-block;
            color: $main-font-color;
            text-decoration: none;  
            font-family: $top-menu-font;
            height: 60px!important;
            line-height: 60px;
        }
    }
}

// hide extra menu link - only logo will link to it
@media screen and (max-width: $menu-without-home) {
    .nav li:first-child {display: none;}
}
// hide terms of use link
@media screen and (max-width: $menu-without-terms) {
    .nav li:nth-child(6) {display: none;}
}

// hide all the menu links, only logo and burger left
@media screen and (max-width: $menu-hamburger-width) {
    .nav{display: none;}
}