<ul class="nav">
  <li id="home">
    <a routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
  </li>
  <li id="about">
    <a routerLink="about" routerLinkActive="selected">ABOUT US</a>
  </li>
  <li id="whychinta">
    <a routerLink="whychinta" routerLinkActive="selected">WHY CHOOSE US?</a>
  </li>
  <li id="faq">
      <a routerLink="faq" routerLinkActive="selected">FAQ</a>
  </li>
  <li id="guide">
    <a routerLink="guide" routerLinkActive="selected">CHINTAGUIDE</a>
  </li>
  <li id="terms">
    <a routerLink="terms" routerLinkActive="selected">TERMS OF USE</a>
  </li>
  <li id="contact">
    <a routerLink="contact" routerLinkActive="selected">CONTACT US</a>
  </li>
</ul>