<div class="navbar">
    <div class="logo">
        <img class="false-link" src="../../../../assets/img/logo-long.png" (click)="redirectHome()" alt="Company logo">
        <h1 class="false-link" (click)="redirectHome()">ChintaMoney</h1>
    </div>
    <div class="navigation">
    <app-one-line-menu></app-one-line-menu>
    <app-hamburger></app-hamburger>
  </div>
</div>
<app-narrow-menu></app-narrow-menu>