@import "../../../../master.variables";
.navbar {
    z-index: 100;
    height: $top-menu-height;
    width: 100%;
    margin: 0;
    padding:0;
    position: fixed;
    background-color: $background-color-main;
    box-shadow: 1px 1px 1px rgb(124, 125, 129);
    display: flex;
    justify-content: space-evenly;
    .logo {
        display: flex;
        img{
            height:40px;
            margin-left:20px;
            margin-right:20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h1{
           font-size: 25px;
           padding: 0;
           line-height: $top-menu-height; 
           color: $logo-green;
        }
        h1:hover{
            color: $logo-blue;
        }
    }
}

// hide all the menu links, only logo and burger left
@media screen and (max-width: $menu-hamburger-width) {
    .navbar {display: flex; justify-content: space-between}
}
