<div class="bg texture">
  <div class="content">
    <div id="create-wealth" class="section">
      <h1 align="center">ChintaMoney</h1>
      <h2 align="center">{{headerMain}}</h2>
      <div class="info-items">
        <div class="items items-left" [@slideInLeft]="animationTrigger">
          <div class="item">
            <h3 align="center">{{header1}}</h3>
            <p>{{paragraph1}}</p>
          </div>
          <div class="item">
            <h3 align="center">{{header2}}</h3>
            <p>{{paragraph2}}</p>
          </div>
        </div>
        <div class="phone">
          <img src={{phoneUrl}}>
        </div>
        <div class="items itemts-right" [@slideInRight]="animationTrigger">
          <div class="item">
            <h3 align="center">{{header3}}</h3>
            <p>{{paragraph3}}</p>
          </div>
          <div class="item">
            <h3 align="center">{{header4}}</h3>
            <p>{{paragraph4}}</p>
          </div>
        </div>
      </div>
      <div class="choices">
        <h2>Interested?</h2>
        <button (click)="redirectToGuide()"> LEARN MORE </button>
        <div class="download">
          <app-download-android></app-download-android>
        </div>
      </div>
    </div>