@import "../../../../../master.variables";

.texture {
    background-image: url('../../../../../assets/img/background-texture.jpg');
}

.info-items {
    display: flex;
    margin-bottom: 60px;
}

.items {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
    width: 300px;
    .item {
       p {
        text-align: justify;
        text-justify: inter-word;
        color: $main-font-color;
       }
       h3 {
        font-weight: bold;
        font-size: 25px;
        color: $accent-color;
       }
    }
}

.choices{
    height: 120px;
    width: 100%;
    text-align:center;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
    button {
        background-color: $logo-green;
        border-radius: 10px;
        border: none;
        height: 50px;
        width: 168px;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        float: left;
        cursor: pointer;
        font-family: $decorative-font-main;
        font-weight: bold;
        font-size : 20px;
    }
    .download {
        float: right;
    }
    h2 {
        color: $accent-color;
    }
}