<div class="footer">
  <div class="content footer-content">
    <div id="logo" class="col first">
      <img src="../../../../assets/img/logo-mono.PNG">
    </div>
    <div id="people" class="col">
      <h3>People</h3>
      <div class="nav">
        <ul>
          <li class="false-link" (click)="redirectTo('whychinta')">
            Why ChintaMoney
          </li>
          <li class="false-link" (click)="redirectTo('faq')">
            Frequent questions
          </li>
          <li class="false-link" (click)="redirectTo('guide')">
            How to use our app
          </li>
          <li class="false-link" (click)="redirectTo('privacy')">
              Privacy policy
          </li>
          <li class="false-link" (click)="redirectTo('terms')">
              Terms and conditions
          </li>
        </ul>
      </div>
    </div>
    <div id="download" class="col">
      <h3>Download app</h3>
      <div class="nav">
        <app-download-android></app-download-android>
      </div>
    </div>
    <div id="contact" class="col">
      <h3 class="media">Find us on:</h3>
      <div class="nav">
        <ul>
          <li>
            <a href="https://www.facebook.com/chintamoneyforever/">
              <img class="media-icon" src="../../../../assets/img/facebook.svg">Facebook
            </a>
          </li>
          <li>
            <a href="/">
              <img class="media-icon" src="../../../../assets/img/twitter.svg">Twitter
            </a>
          </li>
          <li>
            <a href="/">
              <img class="media-icon" src="../../../../assets/img/linkedin.svg">LinkedIn
            </a>
          </li>
          <li>
            <a href="/">
              <img class="media-icon" src="../../../../assets/img/medium.png">Medium
            </a>
          </li>
          <li>
              <a href="/">
                <img class="media-icon" src="../../../../assets/img/mail.svg">Email
              </a>
            </li>
        </ul>
      </div>
    </div>
    <div id="india-karnataka" class="col last">
      <div class="sponsors">
        <a href="https://www.startupindia.gov.in/uploads/startup_application_certificate/recognization/DIPP10492_RISING_TIGER_SOFTWARES_PRIVATE_LIMITED_Recognization.pdf"
           target="_blank">
          <img id="india" src="../../../../assets/img/india.png">
        </a>
        <a href="https://www.startupindia.gov.in/uploads/startup_application_certificate/recognization/DIPP10492_RISING_TIGER_SOFTWARES_PRIVATE_LIMITED_Recognization.pdf"
           target="_blank">
          <img id="karnataka" src="../../../../assets/img/karnataka.png">
        </a>
      </div>
    </div>
  </div>
  <div id="copyright" class="copyright">
    <h4>© Copyright 2017 Rising Tiger Softwares Private Limited</h4>
  </div>
</div>