@import "../../../../master.variables";

.footer{
    background-color: $blue;
    color: $contrast-font-color;
    position: absolute;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $contrast-font-color;
}

.col {
    flex-basis: 160px;
    height: 155px;
    display: inline-block;
    position: relative;
    h3 {
        position: absolute;
        top: 0;
    }
    .nav {
        position: absolute;
        bottom: 0;
        ul {
            font-size: 14px;
            font-family: $font-footer-links;
            font-weight: lighter;
            a > img {
                height: 70px;
                width: auto;
            }
            li {
                margin-top: 4px;
                top: 0;
            }
            li .media-icon {
                height: 14px;
                margin-right: 10px;
            }
        }
        img {
            height: 50px;
        }
        a:hover {
            color: $accent-color;
            font-weight: bold;
        }
    }
}

.sponsors {
    height: 120px;
    padding-top: 20px;
    img {
        height: 50px;
        margin-bottom: 10px;
    }
} 

.first{
    width: 100px;
    position: relative;
    img {
        height: 120px;
        position:absolute;
        bottom: 10px;
    }
}

.copyright{
    margin-bottom: 20px;
}
