<div class="bg texture">
    <div class="content">
      <div id="beta" class="section">
        <h1 align="center">
            SUBSCRIBE FOR BETA
        </h1>
        <h2 align="center">
           {{headerSmallText}}
        </h2>
        <div class="motto-and-form">
          <div class="motto">
              <figure class="quote">
                  <figcaption>
                    <blockquote>
                      <p>{{mottoText}}</p>
                    </blockquote>
                    <h3>{{mottoAuthor}}</h3>
                  </figcaption>
              </figure>
          </div>
          <div class="subscribe">
              <figure class="form">
                  <figcaption>
                    <h2>Love this quote as much as we do?</h2>
                    <h3>Subscribe for our beta! </h3>
                    <form class="email-form" *ngIf="!emailSubmitted; else message">
                      <input type="text" value="your email"/>
                      <input class="submit" type="submit" value="SUBSCRIBE" (click)="submitEmail()"/>
                    </form>
                    <ng-template #message>
                      <h2 class="finished">Subscription activated! Thank you!</h2>
                    </ng-template>
                  </figcaption>
              </figure>
          </div>
        </div>
  </div>
</div>
