@import "../../../../../master.variables";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.texture {
    background-image: url('../../../../../assets/img/background-texture.jpg');
}

.motto-and-form{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.form {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: $font-paragraphs;
    font-size: 20px;
    margin: 35px 7px 10px;
    max-width: 500px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid $accent-color; 
    height: 243px;
    padding-left: 10px;
    padding-right: 10px;
    h3{
        color: $accent-color;
        font-weight: bold;
    }
}

.email-form {
    height: 60px;
    margin-top: 34px;
    input[type=text]{
        height: 40px;
        width: 200px;
        margin-right: 10px;
        line-height: 40px;
        font-size: 20px;
        color: $main-font-color;
        text-align: center;
    }
    input[type=text]:focus{
        border: 1px solid $logo-blue;
    }
    .submit{
        background-color: $logo-blue;
        font-size: 20px;
        color: $contrast-font-color;
        height: 46px;
        border: 3px solid $accent-color;
        cursor: pointer;
    }
}

.finished {
    color: $logo-green;
}

.quote {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: $main-font-color;
  display: inline-block;
  font-family: $font-paragraphs;
  font-size: 20px;
  margin: 35px 7px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid $accent-color;
}

.quote *,
.quote *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.quote figcaption {
  padding: 13% 10% 12%;
}

.quote figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: $accent-color;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.quote h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 10px 0 5px;
  color: $accent-color;
}