/* COLOR SCHEME */
$background-color-main:white;
$background-color-additional: #F4F5E7;
$logo-green: #64DD17;
$logo-blue: #415B90;
$blue:#415B90;
$accent-color: #F16136;
$section-color-light: white;
$section-color-dark: #F4F5E7;
$highlight-color: #cde5ce;

/* FONT COLORS */
$main-font-color: #767676;
$dark-font-color: #232323;
$contrast-font-color: white;
$secondary-font-color: #64DD17;

/* FONT FAMILIES */
$decorative-font-main: 'ClearSans-Thin', sans-serif;
$top-menu-font: 'ClearSans-Medium', sans-serif;
$header-font: 'ClearSans-Thin','Open Sans',Arial,sans-serif;
$font-footer-links: 'Roboto', sans-serif;
$font-paragraphs: 'Roboto', sans-serif;

/* FONT SIZES */
$h1-size : 3.125em;
$h2-size: 1.5em;
$h3-size: 1em;
$h4-size: 0.8em;
$paragraph-text-size: 1em;
$top-menu-font-size: 1.2em;

/* CONTENT SIZES */
$content-size: 60em;
$top-menu-height: 3.9em;
$footer-size: 4em;

/* VIEW CHANGES */
$menu-without-home: 1230px;
$menu-without-terms: 1136px;
$menu-hamburger-width: 1024px;