@import "./master.variables";

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700');

@font-face {
    font-family: "ClearSans-Bold";
    src: url('./assets/fonts/clear-sans/ClearSans-Bold.ttf');
}
@font-face {
    font-family: "ClearSans-BoldItalic";
    src: url('./assets/fonts/clear-sans/ClearSans-BoldItalic.ttf');
}
@font-face {
    font-family: "ClearSans-Italic";
    src: url('./assets/fonts/clear-sans/ClearSans-Italic.ttf');
}
@font-face {
    font-family: "ClearSans-Light";
    src: url('./assets/fonts/clear-sans/ClearSans-Light.ttf');
}
@font-face {
    font-family: "ClearSans-Medium";
    src: url('./assets/fonts/clear-sans/ClearSans-Medium.ttf');
}
@font-face {
    font-family: "ClearSans-MediumItalic";
    src: url('./assets/fonts/clear-sans/ClearSans-MediumItalic.ttf');
}
@font-face {
    font-family: "ClearSans-Regular";
    src: url('./assets/fonts/clear-sans/ClearSans-Regular.ttf');
}
@font-face {
    font-family: "ClearSans-Thin";
    src: url('./assets/fonts/clear-sans/ClearSans-Thin.ttf');
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

a {
    color: $contrast-font-color;
    text-decoration: none;
}

.false-link {
    color: $contrast-font-color;
    text-decoration: none;
    cursor: pointer; 
}

.false-link:hover {
    color: $accent-color;
    font-weight: bold;
}
.content {
    margin: 0 auto;
    width: $content-size;
    height: 100%;
}
.page {
    display: table; 
    width: 100%; 
    height: 100%;
    min-height: 500px;
    margin-top: 60px;
}

h1 {
    font-family: $decorative-font-main;
    color: $secondary-font-color;
    font-size: $h1-size;
    margin: 0;
    padding-top: 60px;
}

h2 {
    font-family: $header-font;
    font-size: $h2-size;
    color: $main-font-color;
}

h3 {
    font-family: $decorative-font-main;
    font-weight: lighter;
    font-size: $h3-size;
    margin-bottom: 10px;
}

h4 {
    font-family: $decorative-font-main;
    font-weight: lighter;
    font-size: $h4-size;
    line-height: 20px;
    text-align: center;
}

p {
    font-family: $font-paragraphs;
    font-size: $paragraph-text-size;
}