<div class="bg pale-green">
  <div class="content">
    <div class="circles">
        <div class='menu'>
            <input  (click)="toggleAnimation()" class='menu-toggler' id='menu-toggler' type='checkbox'>
            <label for='menu-toggler' [@pulsate]="centerAnimationTrigger"(@pulsate.done)="onEnd($event)" >WHY US?</label>
            <ul>
              <li class='menu-item financial-health' (click)="openModal('financial-health')">
                <img src="../../../../../assets/img/financial-health.svg">
              </li>
              <li class='menu-item analytics' (click)="openModal('analytics')">
                <img src='../../../../../assets/img/analytics.svg'>
              </li>
              <li class='menu-item security' (click)="openModal('security')">
                <img src='../../../../../assets/img/security.svg'>
              </li>
              <li class='menu-item wallet' (click)="openModal('wallet')">
                <img src='../../../../../assets/img/wallet.svg'>
              </li>
              <li class='menu-item control' (click)="openModal('control')">
                <img src='../../../../../assets/img/control.svg'>
              </li>
              <li class='menu-item option' (click)="openModal('option')">
                <img src='../../../../../assets/img/arrow.svg'>
              </li>
            </ul>
          </div>
    </div>
    <modal id="item-details">
        <div class="modal">
            <div class="modal-body" [style.background-color]="color">
              <div *ngIf="!optionsShown; else options">
                <h1 align="center">{{itemHeader}}</h1>
                <p>{{itemText}}</p>
              </div>
              <ng-template #options>
                  <h1 align="center">{{itemHeader}}</h1>
                  <p><span class="false-link" (click)="redirectTo('whychinta')">Find more reasons</span>
                     why our app is useful or 
                    <span class="false-link" (click)="redirectTo('guide')">read our guide!</span>
                  </p>
                  <div class="download">
                    <app-download-android></app-download-android>
                  </div>
              </ng-template>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>
  </div>
</div>