@import "../../../../../master.variables";

modal {
    .modal {
        .modal-body{
            margin: 0 auto;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            position: relative;
            top: 50%;
            transform: perspective(1px) translateY(-50%);

            h2{
                margin: auto;
                text-align: center;  
                overflow-wrap: break-word;
            }
            p{
                text-align: center;  
                overflow-wrap: break-word;
                padding: 20px;
                font-size: 30px;
            }
            span {
                color: $accent-color;
            }
        }
    }
}