@import "../../../../../master.variables";

$toggler-size: 70px;
$toggler-transition: transform .5s, top .5s;

$item-count: 6;
$item-size: $toggler-size * 2;
$item-color: black;
$item-transition: .5s;

@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin line {
  @include size($toggler-size, $toggler-size/8);
  display: block;
  z-index: 1;
  border-radius: $toggler-size/16;
  transition: $toggler-transition;
}

.bg {
    min-height: 500px;
    background-color: $highlight-color;
}

.download {
    margin: 0 auto;
    width: 168px;
}

.circles {
    position: relative; // for the circles menu to be in the right div
    height: 500px;
    .financial-health{
        width: 130px;
        img{
            transform: rotate(15deg);
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(15deg) scale(1.2);
            transition: transform .5s;
        }
    }
    .analytics{
        img{
            transform: rotate(-60deg);
            width: 120px;
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(-60deg) scale(1.2);
            transition: transform .5s;
        }
    }
    .security{
        img{
            transform: rotate(-120deg);
            width: 130px;
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(-120deg) scale(1.2);
            transition: transform .5s;
        }
    }
    .wallet{
        img{
            transform: rotate(180deg);
            width: 120px;
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(180deg) scale(1.2);
            transition: transform .5s;
        }
    }
    .control{
        img{
            transform: rotate(120deg);
            width: 120px;
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(120deg) scale(1.2);
            transition: transform .5s;
        }
    }
    .option {
        img {
            transform: rotate(-30deg);
            width: 120px;
            transition: transform .5s;
        }
        img:hover{
            transform: rotate(-30deg) scale(1.2);
            transition: transform .5s;
        }
    }
}

label{
    background: white;
    width: 150px;
    height:150px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 150px;
    font-family: $decorative-font-main;
    color: $main-font-color;
    font-size: 25px;
}

.menu-toggler {
  @include absolute-center;
  @include size($toggler-size);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu-toggler:checked ~ ul {
  .menu-item {
    opacity: 1;
  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) {
      transform: rotate(360deg / $item-count * $i) translateX(-$item-size - 30px);
      cursor: pointer;
    }
  }
  
  .menu-item a {
    pointer-events: auto;
  }
}

.menu-toggler + label {
  @include line;
  @include absolute-center;
  background: white;
    width: 150px;
    height:150px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 150px;
}

@for $i from 0 through $item-count - 1 {
  .menu-item:nth-child(#{$i + 1}) a {
    transform: rotate(-360deg / $item-count * $i);
  }
}

.menu-item {
  @include absolute-center;
  @include size($item-size);
  display: block;
  opacity: 0;
  transition: $item-transition;
}
